body{
    background-color: #820AD1;
    display: flex;
    justify-content: center;/*SERVE PARA ALINHAR A POSIÇÃO DA MINHA DIV*/
    align-items: center;/*SERVE PARA CENTRALIZAR SEMPRE NO MEIO DA TELA A DIV*/
    min-height: 100vh;/*SERVE PARA PEGAR A ALTURA DA TELA DO USUARIO E JOGAR O CONTEÚDO NO MEIO SEM QUEBRAR A TELA*/
}

h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
}

/*SERVE PARA TIRAR A BORDA AZUL QUE FICA NO CAMPO INPUT AO CLICAR NO BOTAO*/
.form-controll:focus{ 
    border-color: inherit; 
    -webkit-box-shadow: none; 
    box-shadow: none; 
}

.espaco{
    margin-top: 10px;
    border: solid 1px #820AD1;
}

.area{
    background-color: white;
    width: 100%;/*FORMATANDO PARA DEIXAR RESPONSIVO*/
    max-width: 355px;/*SE A TELA DO USUARIO FOR PEQUENA, ELE PEGA 100% DA TELA. SE FOR GRANDE ELA PELA O MINIMO DE 350PX*/
    text-align: center;/*TODO O CONTEUDO SEJA CENTRALIZADO*/
    padding: 35px;/*PARA DAR ESPAÇO NOS CANTOS E NAO DEIXAR O CONTEUDO GRUDADO*/
    height: 520px;
}

.logo{
    width: 100%;
    height: auto;
}

.remember{
    padding-top: 10px;/*DANDO ESPAÇO DO INPUT ACIMA DE 10PX*/
    padding-bottom: 10px;
}

.corBotaoEnter{
    background-color: #9365b3;
}