body{
    background-color: #820AD1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
}

.form-controll:focus{ 
    border-color: inherit; 
    -webkit-box-shadow: none; 
    box-shadow: none; 
}

.espaco{
    margin-top: 10px;
    border: solid 1px #820AD1;
}

.area{
    background-color: white;
    width: 100%;
    max-width: 355px;
    text-align: center;
    padding: 35px;
    height: 520px;
}

.logo{
    width: 100%;
    height: auto;
}

.remember{
    padding-top: 10px;
    padding-bottom: 10px;
}

.corBotaoEnter{
    background-color: #9365b3;
}