.teste1{
    background-color: cornflowerblue;
    border: 1px solid royalblue;
}

.teste2{
    background-color: aqua;
    border: 1px solid chartreuse;
}

.teste3{
    background-color: rgb(29, 71, 1);
    border: 1px solid rgb(0, 80, 90);
    height: 50px;
}